In [1]:
import pandas as pd

In [11]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,777,444],'col3':['abc','def','ghi','xyz']})

ValueError: arrays must all be same length

In [3]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  xyz

In [4]:
df.head(3)

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi

In [5]:
df.head(1)

   col1  col2 col3
0     1   444  abc

In [8]:
df['col2'].unique()

array([444, 555, 666, 777], dtype=int64)

In [9]:
df['col2'].nunique()

4

In [10]:
df['col2'].value_counts()

444    1
555    1
666    1
777    1
Name: col2, dtype: int64

In [14]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  xyz

In [13]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   777  xyz

In [15]:
data={
    'A':['foo','foo','foo','bar','bar','bar'],
    'B':['one','one','two','two','one','one'],
    'C':['x','y','x','y','x','y'],
    'D':[1,3,2,5,4,1]
}

df=pd.DataFrame(data)

In [16]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [17]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN